:root {
    --cor1: #2fff5c;
    --cor2: #003d2e /*302828*/ ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor2);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header .logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: var(--cor1);
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    margin-right: 10px;
    color: #dfdfdf;
}

header nav a:hover {
    color: #ffffff;
}

main .jogo-principal {
    background: linear-gradient(rgba(0, 0, 0,.5), rgba(0,0,0,0.5)100%), url('../imagens/banner6.jfif');
    background-size: cover;
    height: 500px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.jogo-principal .container {
    width: 70%;
}

.jogo-principal .titulo {
    margin-top: 10%;
    font-size: 50px;
    font-family: impact, arial, sans-serif;
    letter-spacing: 5px;    
}

.jogo-principal .menor {
    font-size: 20px;
    margin: 0 -17px;
    display: inline-block;
    position: relative;
    top: -12px;
    font-weight: 100;
}

.jogo-principal .complemento-titulo {
    font-family: Verdana, Arial, sans-serif;
    font-size: 35px;
    margin-top: -7px;
    display: block;
    margin-left: 30px;
}

.jogo-principal .subtitulo {
    font-size: 40px;
    background-color: #ffffff2d;
    display: inline-block;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 900;
}

.jogo-principal .sinopse {
    margin-top: 10px;
    margin-bottom: 90px;
}

.botao {
    padding: 10px 20px;
    border: none;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    margin-right: 15px;
    font-size: 14px;
    transition: .5s ease all;
}

.botao:hover {
    color: #fff;
    background-color: #000;
}

.botao i {
    font-size: 18px;
    margin-right: 5px;
}

.container {
    margin-left: 20px;
}