/*@media screen and (min-width:1000px) {
    .sinopse {
        width: 90%;
    }
}

*/

@media screen and (max-width: 700px) {

    html {
        font-size: 50%;
    }

    header .container {
        display: flex;
        flex-direction: column;
    }

}

    /*header .logo {
        margin-bottom: 20px;
        border-bottom: 1px solid;
        font-size: 2rem;
    }

    
    .jogo-principal .titulo {
        font-size: 40px;
    }

    .jogo-principal .menor {
        font-size: .8rem;
        top: -10px;
    }
    
    .jogo-principal .complemento-titulo {
        font-size: 25px;
        margin-left: 45px;
    }

    .jogo-principal .subtitulo {
        font-size: 35px;
        font-weight: 900;
        padding: 0 11px;
    }

    .jogo-principal .sinopse {
        margin-bottom: 7rem;
    }
    
    .sinopse {
        width: 80%;
    }

    .jogo-principal button  {
        margin-top: 0.5rem;
        width: 23rem;
        height: 5rem;
    }


